= form_for :message, {:url => {:controller=>:messages, :action => :create}, :remote => true, :html => { :id => "new_message", :style => "display: none;" } } do |f|
  %p= f.label "Новое сообщения для #{@student_to.login}"
  %p= f.text_area :content, :cols => 40, :rows => 5
  %p= f.hidden_field :student_id, :value => @student_to.id
  %p
    = submit_tag 'отправить'
    .close 
      %a{:href => "#", :onclick => "$('#new_message').slideUp().remove(); $('#message_button').slideDown()"} x