
<% if top_level %>
<div id="comment_top_<%= comment.id %>" class="comment_top">
<% else %>
  <div id="comment_bottom_<%= comment.id %>" class="comment_bottom", style="margin-left: 20px;">
<% end %>
  <div id="comment_content_<%= comment.id %>" class="comment_content">
  <b><%= comment.student.login %></b>: <%= comment.content -%> 
  <% if @student.admin or @student.id == comment.student.id%>
  	<%= link_to 'x', topic_comment_path((comment.topic_id or comment.comment_id), comment.id), :method => :delete, :remote => true %><br>
	<% end %>
	<% if top_level %>
  	<span id="comment_button_<%= comment.id %>"><font size="2">
  	<%= link_to 'Комментировать', new_comment_comment_path(comment.id, :format => :js), :remote => true%></font></span>
  
	<% end %>
	</div>
	
  

<% if top_level %>
<%= render :partial => 'comments/comment', :collection => comment.comments, :locals => {:top_level => false} %>

</div>
<% else %>
</div>
<%= render :partial => 'comments/comment', :collection => comment.comments, :locals => {:top_level => false} %>
<% end %>
