-if top_level
  %br
  .comment_top{:id => "comment_top_#{comment.id}"}
    .comment_avatar.inline{:id => "avatar_#{comment.student.login}"}
      =image_tag comment.student.avatar.url(:small)
    .comment_content.inline{:id => "comment_content_#{comment.id}"}
      = comment.content
      %span{:id => "comment_button_#{comment.id}"}
        %font{:size => "2"}
          = link_to 'Комментировать', new_comment_comment_path(comment.id, :format => :js), :remote => true
          - if @student.admin or @student.id == comment.student.id 
            |
            = link_to('х', post_comment_path((comment.post_id or comment.comment_id), comment.id), 
                                 :method => :delete, :remote => true)
    = render :partial => 'comments/comment', :collection => comment.comments, :locals => {:top_level => false}

  .shadow
-else
  %hr
  .comment_bottom{:id => "comment_bottom_#{comment.id}"}
    .comment_avatar.inline{:id => "avatar_#{comment.student.login}"}
      = image_tag comment.student.avatar.url(:small)
    .comment_content.inline  
      = comment.content
      -if @student.admin or @student.id == comment.student.id
        = link_to('х', post_comment_path((comment.post_id or comment.comment_id), comment.id), 
                       :method => :delete, :remote => true)
        %br
      
      
      
