-if top_level
  %br
  .comment_top{:id => "comment_top_#{comment.id}"}
    
    .comment_rating.inline{:id => "comment_rating_and_section_#{comment.id}", :class => "#{ comment.rating <= 0 ? "comment_rating_bad" : "" }"}
      = link_to "", comment_plus_path(:comment_id => comment.id, :format => :js), 
                  :remote => true, :class => "rating_plus"      
      = link_to comment.rating, comment_raters_path(:comment_id => comment.id, :format => :js), :remote => true, :class => "rating_comment"
      = link_to "", comment_minus_path(:comment_id => comment.id, :format => :js), :remote => true, :class => "rating_minus"
    
    =render :partial => "students/avatar", :locals => {:div_class => 'comment_avatar',
                                              :student => comment.student,
                                              :id => comment.id,
                                              :path => 'comment'}
    .comment_content.inline{:id => "comment_content_#{comment.id}"}
      = raw(RedCloth.new(comment.content).to_html)
      %span{:id => "comment_button"}
        %font{:size => "2"}
          = link_to 'Комментировать', new_comment_comment_path(comment.id, :format => :js), :remote => true
          - if @student.admin or @student.id == comment.student.id 
            |
            = link_to('х', post_comment_path((comment.post_id or comment.comment_id), comment.id), 
                                 :method => :delete, :remote => true)
    = render :partial => 'comments/comment', :collection => comment.comments, :locals => {:top_level => false}

  .shadow
-else
  %hr
  .comment_bottom{:id => "comment_bottom_#{comment.id}"}
    =render :partial => "students/avatar", :locals => {:div_class => 'comment_avatar',
                                              :student => comment.student,
                                              :id => comment.id,
                                              :path => 'comment'}
    .comment_content.inline  
      = raw(RedCloth.new(comment.content).to_html)
      -if @student.admin or @student.id == comment.student.id
        = link_to('х', post_comment_path((comment.post_id or comment.comment_id), comment.id), 
                       :method => :delete, :remote => true)
        %br
      
      
      
