-if top_level
  %br
  .comment_top{:id => "comment_top_#{comment.id}"}
    .comment_avatar.inline{:id => "avatar_#{comment.student.login}", :onMouseOver => "over_student('#{comment.id}', 'comment');", :onMouseOut => "over_student('#{comment.id}', 'comment');"}
      =image_tag comment.student.avatar.url(:small)
      .student_login{:id => "student_#{comment.id}_login_comment", :style => "display: none;"}= comment.student.login
    .comment_content.inline{:id => "comment_content_#{comment.id}"}
      = raw(RedCloth.new(comment.content).to_html)
      %span{:id => "comment_button"}
        %font{:size => "2"}
          = link_to 'Комментировать', new_comment_comment_path(comment.id, :format => :js), :remote => true
          .comment_rating.inline{:id => "comment_rating_#{comment.id}", :style => "background-color: ##{ comment.rating >= 0 ? "bffe91" : "ff5656"}"}
            = link_to "", comment_plus_path(:comment_id => comment.id, :format => :js), 
                          :remote => true, :class => "rating_plus"
            .rating{:id => "comment_rating_#{comment.id}" }              
              = link_to comment.rating, comment_raters_path(:comment_id => comment.id, :format => :js), :remote => true
            = link_to "", comment_minus_path(:comment_id => comment.id, :format => :js), :remote => true, :class => "rating_minus"
          - if @student.admin or @student.id == comment.student.id 
            |
            = link_to('х', post_comment_path((comment.post_id or comment.comment_id), comment.id), 
                                 :method => :delete, :remote => true)
    = render :partial => 'comments/comment', :collection => comment.comments, :locals => {:top_level => false}

  .shadow
-else
  %hr
  .comment_bottom{:id => "comment_bottom_#{comment.id}"}
    .comment_avatar.inline{:id => "avatar_#{comment.student.login}", :onMouseOver => "over_student('#{comment.id}', 'comment');", :onMouseOut => "over_student('#{comment.id}', 'comment');"}
      = image_tag comment.student.avatar.url(:small)
      .student_login{:id => "student_#{comment.id}_login_comment", :style => "display: none;"}= comment.student.login
    .comment_content.inline  
      = raw(RedCloth.new(comment.content).to_html)
      -if @student.admin or @student.id == comment.student.id
        = link_to('х', post_comment_path((comment.post_id or comment.comment_id), comment.id), 
                       :method => :delete, :remote => true)
        %br
      
      
      
