
#comment_new{:style => "padding-left:10px;"}
  .comment_avatar.inline
    = image_tag @student.avatar.url(:small) 
  -if params[:comment_id]
    = form_for(@comment, :url => {:action=> :create, :post_id => params[:post_id], :comment_id => params[:comment_id]}, :html => {:id => "new_comment_#{params[:comment_id]}", :style => "display: none;"}, :remote => true) do |f|
      %p
        = f.text_area :content
      %p
        = f.submit 'create'
        %a{:href => "#", :onclick => "$('#comment_new').remove(); $('#comment_button_#{params[:comment_id]}').slideDown()"} Нафиг

  -else
    = form_for(@comment, :url => {:action=> :create, :post_id => params[:post_id], :comment_id => params[:comment_id]}, :html => {:id => "new_comment", :style => "display: none;"}, :remote => true) do |f|
      %p
        = f.text_area :content
      %p
        = f.submit 'create'
        %a{:href => "#", :onclick => "$('#comment_new').remove(); $('#comment_button').slideDown()"} Нафиг
