.comment_new{:id => "comment_new#{params[:comment_id]}", :style => "padding-left:10px; display:none;"}
  -if params[:comment_id]
    .comment_avatar.inline{:style=>"margin-left:60px;"}
      = image_tag @student.avatar.url(:small) 
    = form_for(@comment, :url => {:action=> :create, :post_id => params[:post_id], :comment_id => params[:comment_id]}, :html => {:id => "new_comment_#{params[:comment_id]}", :style => "display: inline-block;"}, :remote => true) do |f|
      %p
        = f.text_area :content, :id => 'textile_comment', :class => 'ata'
      %p
        = f.submit 'create'
        .close
          %a{:href => "#", :onclick => "$('#comment_new#{params[:comment_id]}').remove(); $('span#comment_button').show();"} x

  -else
    .comment_avatar.inline
      = image_tag @student.avatar.url(:small) 
    = form_for(@comment, :url => {:action=> :create, :post_id => params[:post_id], :comment_id => params[:comment_id]}, :html => {:id => "new_comment", :style => "display: inline-block;"}, :remote => true) do |f|
      %p
      = f.text_area :content, :id => 'textile_comment', :class => 'ata', :rows => "10"
      %p
        = f.submit 'create'
        .close
          %a{:href => "#", :onclick => "$('#comment_new').remove(); $('span#comment_button').show();"} x
