.student_info{:id => "student_info_#{@student_info.id}", :style => "display: none;"}
  .close{:onclick => "$('#student_info_#{@student_info.id}').remove(); $('#student_#{@student_info.id}_login_top').hide();"} 
    %a{:href => "#"} x
  = @student_info.login
  = @student_info.name
  %hr
  = link_to "Написать", new_message_path(:format => :js, :student_id => @student_info.id), :remote => true, :id => "message_button"
