.student_info{:id => "student_info_#{@id}_#{@path}", :style => "display: none;"}
  .close{:onclick => "$('#student_info_#{@id}_#{@path}').remove(); $('#student_#{@id}_login_#{@path}').hide();"} 
    %a{:href => "#"} x
  = @student_info.login
  = @student_info.name
  %hr
  = link_to "Написать", new_message_path(:format => :js, :student_id => @student_info.id), :remote => true, :id => "message_button"
