<h1>Sign up as a new user</h1>
<% @student.password = @student.password_confirmation = nil %>

<%= error_messages_for :student %>

<% form_for :student, {:url => students_path, :html => { :multipart => true }} do |f| -%>

  <p><%= label_tag 'Логин' %><br/>
  <%= f.text_field :login %></p>

  <p><%= label_tag 'Email' %><br/>
  <%= f.text_field :email %></p>

  <p><%= label_tag 'Пароль' %><br/>
  <%= f.password_field :password %></p>

  <p><%= label_tag 'Подтверждение пароля' %><br/>
  <%= f.password_field :password_confirmation %></p>

  <p><%= label_tag 'Фамилия' %><br/>
  <%= f.text_field :name %></p>

  <p><%= label_tag 'Имя' %><br/>
  <%= f.text_field :second_name %></p>

  <p><%= label_tag 'Отчество' %><br/>
  <%= f.text_field :last_name %></p>

  <p><%= label_tag 'Группа' %><br/>
  <%= f.text_field :group %></p>
  
  <p><%= label_tag 'Аватар' %><br/>
  <%= f.file_field :avatar %>
  
  <p><%= submit_tag 'Sign up' %></p>
<% end -%>
  
