<hr>
<div class="comment", style="margin-left: <%= depth %>px">
  <div class="comment content" style="background: #fd3;">
  <b><%= h comment.student.login %></b>: <%= textilize (h comment.content) %> <br>
	</div>
	<% if @student.admin %>
    <%= link_to 'Edit', :controller => :comments, :action => :edit, :id => comment.id %> |
  	<%= link_to 'Destroy', :controller => :comments, :action => :destroy, :id => comment.id, :confirm => 'Are you sure?', :method => :delete %><br>
	<% end %>
	<%= link_to 'Комментировать', :controller => :comments, :action => :new, :topic_id => @topic.id, :comment_id => comment.id %>
  <hr>
</div>
<%= render :partial => "comment", :collection => comment.comments,  :locals => {:depth => depth += 10} %>