<div id="topic_<%= topic.id %>" class="post inline">
  <div class="post_content">
    <h2><%= link_to topic[:title], topic %></h2>
    <br>
    <%= topic[:annotation] %>
  </div>
  <div class="post_bottom">
    <div class="w20 inline"><%= image_tag topic.student.avatar.url(:small) %></div>
    <div class="section_red inline" style="background-color: #<%= (s = (topic.section.title.hash % 16581375).to_s(16)).size < 6 ? ("0" + s) : s %>">
      <%= topic.created_at %>
      <div class="my_h1"><%= topic.section.title %></div>
    </div>
    <div class="w20 inline">
      <a href="" class="rating_plus"></a>
      <div class="rating">13</div>
      <a href="" class="rating_minus"></a>
    </div>
  </div>
</div>