
<%if nil and @topic.voting %>
<p>
  <b>Voting:</b>
  <%= h @topic.voting %>
</p>
<% end %>

<p>
  <%= textilize( h @topic.content) %>
</p>

<p>
  <div id="topic_rating">
  <b>Рейтинг:</b><font color="<%= 
      if @topic.rating > 0
        "green"
      elsif @topic.rating == 0
        "gray"
      else
        "red"
      end
     %>"> <%= link_to :remote =>true, h(@topic.rating), :url => {:action => :topic_raters, :id => @topic.id}, :update => 'topic_raters' %></font>
   </div> 
   <div id="topic_raters"></div>
  <div class="plus"><%= link_to_remote image_tag("up.png"), 
                          :update => "topic_rating", 
                          :url => {:action => :plus, :id => @topic.id}%></div> 
  <div class="plus"><%= link_to_remote image_tag("down.png"), 
                          :update => "topic_rating", 
                          :url => {:action => :minus, :id => @topic.id}%></div>
</p>
  
<div class = "under_topic">
  Автор: <%= h @topic.student.login %>
  <% if @topic.student.rating %>
  (<font color="<%= 
  if @topic.student.rating > 0
    "green"
  elsif @topic.student.rating == 0
    "gray"
  else
    "red"
  end
  %>"><%= h @topic.student.rating %></font>)
  <% end %>
</div>
<br>
<p>
  <% depth = 0 %>
  
</p>

<%= link_to 'Комментировать', :controller => :comments, :action => :new, :topic_id => @topic.id %> |
<%= link_to 'Назад', topics_path %>

