<div class="topic_show">
<h2><%= h @topic.title %></h2>

<div class="topic_show_content">
  
<p>
  <%= @topic.content %>
</p>

<p>
  <div id="topic_rating">
  <b>Рейтинг:</b><font color="<%= 
      if @topic.rating > 0
        "green"
      elsif @topic.rating == 0
        "gray"
      else
        "red"
      end
     %>"> <%= link_to h(@topic.rating), {:url => {:action => :topic_raters, :id => @topic.id}, :update => 'topic_raters'}, :remote =>true  %></font>
     <%= link_to "+", #image_tag("up.png") ? image_tag("up.png") : "+",
                             { :update => "topic_rating",
                             :url => {:action => :plus, :id => @topic.id}},
                             :remote =>true -%> |
     <%= link_to "-",#image_tag("down.png"), 
                             {:update => "topic_rating", 
                             :url => {:action => :minus, :id => @topic.id}},
                             :remote =>true -%>
   </div> 
   <div id="topic_raters"></div>
  
</p>
  
<div class = "under_topic">
  Автор: <%= h @topic.student.login -%>
  <% if @topic.student.rating -%>
  (<font color="<%= 
  if @topic.student.rating > 0
    "green"
  elsif @topic.student.rating == 0
    "gray"
  else
    "red"
  end
  %>"><%= h @topic.student.rating -%></font>)
  <% end -%>
</div>
<br>
<p>
  <%= render :partial => "comment", :collection => @topic.comments, :locals => {:top_level => true} %>
</p>
</div>

<%= link_to 'Комментировать', :controller => :comments, :action => :new, :topic_id => @topic.id %> |
<%= link_to 'Назад', topics_path %>

</div>