<div class="topic_show">
<h2><%= h @topic.title %></h2>

<div class="topic_show_content">

<p>
  <%= @topic.content %>
</p>

<p>
  <div id="topic_rating">
  <b>Рейтинг:</b><font color="<%= font_color(@topic.rating) %>"> <%= link_to h(@topic.rating), {:url => {:action => :topic_raters, :id => @topic.id}, :update => 'topic_raters'}, :remote =>true  -%></font>
     <%= link_to image_tag("up.png") || "+",
                             { :update => "topic_rating",
                             :url => {:action => :plus, :id => @topic.id}},
                             :remote =>true -%> |
     <%= link_to image_tag("down.png") || "-", 
                             {:update => "topic_rating", 
                             :url => {:action => :minus, :id => @topic.id}},
                             :remote =>true -%>
   </div> 
   <div id="topic_raters"></div>
  
</p>
  
<div class = "under_topic">
  Автор: <%= h @topic.student.login -%>
  <% if @topic.student.rating -%>
  (<font color="<%= font_color(@topic.student.rating) %>"><%= h @topic.student.rating -%></font>)
  <% end -%>
</div>
<br>
  <div id="comments">
    <%= render :partial => 'comments/comment', :collection => @comments, :locals => {:top_level => true} %>
  </div>
</div>

<span id="comment_button"><%= link_to 'Комментировать', new_topic_comment_path(@topic.id, :format => :js), :remote => true %> |
<%= link_to 'Назад', topics_path %> 
<% if @student.admin or @student.id == @topic.student.id %>
| 
<%= link_to 'Удалить', topic_path(@topic.id), :method => :delete %> 

<% end %>

<% if @student.id == @topic.student.id %>
| <%= link_to 'Редактировать', edit_topic_path(@topic.id) %> 
<% end %>
</span>

</div>
