<h1>New section</h1>

<% form_for(@section) do |f| %>
  <%= f.error_messages %>
	<p>
    <%= f.label "Название" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Создать' %>
  </p>
<% end %>

<%= link_to 'Back', topics_path %>