<div style="text-align: center;"><%= image_tag(@student.avatar ? @student.avatar.url : "noavatar.gif", :width => 100, :height => 100)%></div>
  <div id="student-bar-greeting"><%= @student[:name]%> <%= @student[:second_name]%> </div>
  <div id="student-bar-greeting"><%= @student[:last_name]%> </div>
  <div id="student-bar-greeting">Группа <%= @student[:group]%> </div>