  <% 
    class_str = "calendar_day " 
    @wdays.each do |wday|
    class_str += "calendar_day_full " if wday.id  
    class_str += "calendar_day_sunday " if Time.parse("#{wday.day}.#{wday.month}.#{wday.year}").wday == 0
    class_str += "calendar_day_today " if wday.day == Time.now.day 
    class_str += "inline"     
  %>
    
    <% if wday.id %>
        <% link_to day_path(wday.id, :date => wday.date, :format => :js), :remote => true do%>
        <div id="day<%= wday.day %>" class="<%= class_str %>">
        <% if (wday.day == Time.now.day) %>
          Сегодня 
          <div class="month">
            <%= wday.day.to_s + ' ' + @month_arr[wday.month - 1] %>
          </div>
        <% else %>
          <%= wday.day %>
          <div class="month">
          <%= @month_arr[wday.month - 1] %>
          </div>
        <% end -%>
        </div>
        <% end -%>
        <% else %>
          <% link_to new_day_path(:format => :js, :date => wday.date), :remote => true do%>
          <div id="day<%= wday.day %>" class="<%= class_str %>">
          <% if (wday.day == Time.now.day) %>
            Сегодня 
            <div class="month">
            <%= wday.day.to_s + ' ' + @month_arr[wday.month - 1] %>
          </div>
          <% else %>
            <%= wday.day %>
            <div class="month">
            <%= @month_arr[wday.month - 1] %>
            </div>
          <% end -%>
          </div>
        <% end -%>
        <% end -%>
      <% class_str = "calendar_day " -%> 
    <% end -%>
  
  
