.new_day{ :id => "new_day_#{params[:date]}"}
  =form_for :event, {:url => days_path(:date => params[:date], :id => params[:id]), :remote => true} do |f|
    %p Что будет #{params[:date].gsub('_','.')}: 
    %p= f.text_field :title
    %p Ну и небольшое описание
    %p= f.text_area :content, :cols => 40, :rows => 5, :maxlength => 256
    %p
      = submit_tag 'Готово'
      .close
        %a{:href => "#", :onclick => "$('#new_day_#{params[:date]} ').slideUp('fast');"} x