#new_big_post.big_post.inline
  .wave_top
    .wave_border_t
  = form_for @post, :id => "new_big_post_form" do |f|
    #big_post_content.post_content
      .post_title
        %h2= f.text_field :title, :id => "new_big_post_title", :maxlength => 60, :class => 'title'
      %br
      = f.text_area :annotation, :maxlength => 256, :id => "new_big_post_annotation", :class => 'annotation'
      %br
      = f.text_area :content, :id => 'textile_big_post'
      =javascript_tag ('$("#textile_big_post").markItUp(mySettings);')
      %br
      #blinds
        -p @post.blinds
        -@students_list.each do |stud|
          -unless @post.blinds.select{|i| i.student_id == stud[1]}.empty?
            = check_box_tag(stud[1], stud[1], true)
          -else
            = check_box_tag(stud[1])
          = label_tag(stud[1], stud[0])
      = f.submit 'Готово'
      = link_to 'Отмена', @post
    .post_bottom
      .post_bottom_line{:style => "width: 100%"}
  .wave_bottom
    .wave_border_b
