
<div id="new_post" class="post inline" style="display: none;">
   <div class="wave_top"><div class="wave_border_t"></div></div>
  <%= form_for @post, :remote => true, :id => "new_post_form" do |f| %>
  <div class="post_content">
    <div class="post_title">
     <h2><%= f.text_field :title, :id => "new_post[title]" %></h2>
    </div>
    <br>
    <%= f.text_area :annotation, :cols => 40, :rows => 14, :maxlength => 512, :id => "new_post[annotation]" %>
    <br>
    <%= f.submit 'Создать' -%>
    <a href="#" onclick="$('#new_post').slideUp();">x</a><br>
    <%= link_to "Написать побольше", new_big_post_path(:format => :js), :remote => true %>
  </div>  
   <div class="post_bottom">
      <div class="post_bottom_line">
        <%= f.select 'section_id', @sections, :id => "new_post[section_id]" %>
      </div>  
    </div>
  <% end %>
    <div class="wave_bottom"><div class="wave_border_b"></div></div>
</div>
