!!! 5
%html
  %head
    %title Vekwak
    %meta(http-equiv="Content-Language" content="ru")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'markitup/skins/markitup/style', 'markitup/sets/textile/style'
    = javascript_include_tag 'jquery.min', 'rails', 'application', 'markitup/jquery.markitup', 'markitup/sets/textile/set'
    = csrf_meta_tag
    = render :partial => "layouts/google_analytics"
  %body
    #top
      #top_line
      #top_students
        .left_avatars.inline
          - size = @students.size
          - for i in 0...size/2
            -student = @students[i]
            =render :partial => "students/avatar", :locals => {:div_class => @students_online.include?(student) ? "online" : "",
                                                               :student => student,
                                                               :id => student.id,
                                                               :online => @students_online.include?(student),
                                                               :path => 'top'}
        .my_avatar
          = link_to image_tag(@student.nil? ? "/system/images/guest.png" : @student.avatar.url, :width => 100, :height => 100), '/'
          - unless @student.nil?
            .stud_bar.inline  
            = link_to "#{@new_message}", messages_path, :class => "message_info"
            = link_to '', logout_path, :class => "logout"
          - else
            =link_to 'Войти', login_path, :class => "login"
        .right_avatars.inline
          - for i in size/2...size
            -student = @students[i]
            =render :partial => "students/avatar", :locals => {:div_class => @students_online.include?(student) ? "online" : "",
                                                               :student => student,
                                                               :id => student.id,
                                                               :online => @students_online.include?(student),
                                                               :path => 'top'}
        
    #info_bg
      .wave_top
        
      #info_center
        .info.inline
          %h1
            = link_to "Новости", novelties_path
          #novelty_content.info_content
            = render :partial => 'novelties/novelties'
          
        .info.inline
          %h1 
            = link_to "Последние комментарии", comments_list_path
          #last_comments.info_content
            = render :partial => 'comments/last_comments'
        .info.inline
          %h1
            = link_to "Староста", headman_auls_path
          #headman_aul_content.info_content
            = render :partial => 'headman_auls/headman_aul'
      #info_line
        #calendar
          = render :partial => "days/week"
      #info_sections
        -@sections.each do |section|
          .info_sect.inline{:style => "background-color:##{section.color}; width: #{100.0/@sections.size}%;"}
            %h2
              = link_to section.title, "/posts?section_id=#{section.id}" 
      .shadow
  = yield
  .logo
