<!DOCTYPE html>
<html>
<head>
  <title>Vekwak</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery.min', 'rails', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <div id="top">
    <div id="top_line">
    </div>
    <div id="top_students">
      <%= link_to image_tag(@student.avatar ? @student.avatar.url : "noavatar.png", :width => 100, :height => 100), "/"%>
    </div>
  </div>
  <div class="for_bg">
    <div class="wave_top">
    </div>
  </div>
  <div id="info_center">
    <div class="info inline ">
      <h1>Новости</h1>
    </div>
    <div class="info inline">
      <h1>Последние комментарии</h1>
      <%= render :partial => 'comments/last_comments' %>
    </div>
    <div class="info inline">
      <h1><%= link_to "Староста", headman_auls_path %></h1>
      <%= render :partial => 'headman_auls/headman_aul' %>
    </div>
  </div>
  <div id="info_line">
    <div id="calendar">
      <%= render :partial => "days/week" %>
    </div>
  </div>
  <div class="wave_bottom">
  </div>

  <%= yield %>


</body>
</html>
