!!! 5
%html
  %head
    %title Vekwak
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery.min', 'rails', 'application'
    = csrf_meta_tag
  %body
    .welcome
      %h3-orange Добро пожаловать!
      %h4 Внимание! Пользователи без аватара и с логином отличным от МГИУшного будут удаляться.
      = form_tag session_path do
        %br
        %p
          = label_tag 'login', 'Логин :'
          = text_field_tag 'login', @login
        %br
        %p
          = label_tag 'password', 'Пароль'
          = password_field_tag 'password', nil
        %br
        %p= submit_tag 'Войти'
    %h3-orange
      = link_to "регистрация", "http://vekwak.ru/signup"

